html[data-theme="dark"]:root {
    // --w1: #fafafa;
    // --w2: #e2e2e2;
    // --w3: #bbbbbb;

    // --b0: #0c0c0f;
    // --b1: #16161a;
    // --b2: #272727;
    // --b3: #1b1b1b;

    // --p1: #5b1999;
    // --p2: #6d1cb9;

    // --r0: #b81f1f;
    --w1: rgb(250, 250, 250);
    --w2: rgb(226, 226, 226);
    --w3: rgb(187, 187, 187);

    --b0: rgb(12, 12, 15);
    --b1: rgb(22, 22, 26);
    --b2: rgb(39, 39, 39);
    --b3: rgb(27, 27, 27);

    --p1: rgb(91, 25, 153);
    --p2: rgb(109, 28, 185);

    --r0: rgb(184, 31, 31);

    --warn: rgb(210, 105, 30);
    --success: rgb(48 152 57);
    --error: rgb(184, 31, 31);
    --info: rgb(60, 60, 180);
}
html[data-theme="light"]:root {
    // --b0: #fff;
    // --b1: #f5f5f5;
    // --b2: #ececec;
    // --b3: #bbbbbb;

    // --w1: #0c0c0f;
    // --w2: #272727;
    // --w3: #616161;
    
    // --p1: #a560e6;
    // --p2: #7e11e4;

    // --r0: #e65454;
    --b0: rgb(255, 255, 255);
    --b1: rgb(245, 245, 245);
    --b2: rgb(236, 236, 236);
    --b3: rgb(187, 187, 187);

    --w1: rgb(12, 12, 15);
    --w2: rgb(39, 39, 39);
    --w3: rgb(97, 97, 97);
    
    --p1: rgb(165, 96, 230);
    --p2: rgb(126, 17, 228);

    --r0: rgb(230, 84, 84);

    --warn: rgb(239 114 25);
    --success: rgb(88, 155, 57);
    --error: rgb(230, 84, 84);
    --info: rgb(78 78 233);

}

body {
    padding: 0;
    margin: 0;
    background: var(--b1);
    color: var(--w2);
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}


kbd {
    background: var(--b0);
    color: var(--p2);
    padding: 10px 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select-all {
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

a { 
    display: inline-block;
    text-decoration: none;
    color: var(--p1);

    &.btn, &#changeLang {
        position: relative;
        text-align: center;
        // float: right;
        width: auto;
        margin: 10px 10px 0 10px;
        padding: 10px 15px;
        background: var(--b2);
        color: var(--p2);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}
a:hover {
    color: var(--p2)
}

#app > header {
    display: block;
    top: 0;
    position: sticky;
    z-index:1000;
    background: linear-gradient(180deg, var(--b1), #00000000);
    nav {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5rem;
        padding: 0 100px;
    }


    a { 
        position: relative;
        padding: 20px 15px;
        color: var(--w3);

        svg {display: none;}
    }
    a:hover {
        color: var(--w1)
    }

    #themeToggler, #user {
        display: inline-block;
        border:none;
        background:none;
        color: var(--w3);
        cursor: pointer;
        padding: 10px 15px;
        outline:none;
        svg {display: inline;}
    }
    #user {
        margin: 0 0 0 15px;
    }

    #searchForm {
        position: relative;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        background: var(--b0);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        input, button {
            color: var(--w3);
            background: var(--b0);
            box-sizing: border-box;
            padding: 10px 15px;
            border: 0;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
        input {
            font-weight: 200;
            font-size: 1rem;
        }
        button[type="submit"] {
            margin-left: 5px;
            cursor: pointer !important;
        }
    }
}

.fade {
    opacity: 0;
}

.alert-container {
    position: relative;
    display: block;
    text-align: center;

    .alert {
        font-weight: 600;
        display: inline-block;
        margin: 20px auto 15px auto;
        padding: 15px 20px;
        color: var(--b0);
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;


        &.alert-warn {
            background:var(--warn);
        }
        &.alert-success {
            background: var(--success);
        }
        &.alert-error {
            background: var(--error);
        }
        &.alert-info {
            background: var(--info);
        }
    }
}

h1, h2 {
    position: relative;
    margin-block-start: 0.10em;
    margin-block-end: 0.1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-rendering: geometricPrecision;

    &.hero-min {
        margin-block-start: 0.8em;
    }
}

h2 {
    margin-block-start: 0.4em;
    margin-block-end: 2em;
    font-size: 5rem;
    font-weight: 100;
}

p {
    font-size: 1.5rem;
    margin:15px 0 0 0;

    &:first-of-type {
        margin: 0;
    }
}

main {
    &.morePadding {
        padding-top: 200px;
    }
    min-height: 90vh;
    margin: 0 100px;

    .articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        article {
            margin-left: 30px;
            margin-right: 30px;
        }
    }


    &.min {
        h2 {
            margin-block-end: 0.8em;

        }
        article {
            margin-bottom: 80px !important;
        }
    }
    article {
        flex: 1 0.8 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 150px;
        header h3 {
            color: var(--w3);
            font-size: 2rem;
            font-weight: 200;
            margin: 0 0 20px 0;
            // margin:0;
        }
        &#all-quotes {
            padding-top: 60px;
        }
        &#join {
            align-items: center;
            margin-top: 50px;
            margin-bottom: 200px;
        }
        & .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .actions-btn {
                color: #e2e2e2;
                // color: var(--p1);
                background: var(--p1);
                box-sizing: border-box;
                font-size: 2rem;
                padding: 15px 20px;
                margin:15px 15px 0 15px;
                // border: 0;
                border: 1px solid var(--p1);
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;

                &:hover {
                    color: var(--b3);
                    background: var(--p2);
                }
            }
            .actions-btn:nth-child(2) {
                color: var(--w3);
                background: none;
                border: 0;
                &:hover {
                    color: var(--p2);
                }
            }
        }
    }

    #all-quotes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        .quoteCard {
            max-width: 45%;
            // flex: 1 1 40%;
            // display: flex;
            a {
                // min-width: 300px;
                margin: 40px 30px;
            }
        }
    }
    
}

.quoteCard {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    width: auto;
    a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--w2);
        // margin: 10px -20px;
        margin: 40px 0px;
        padding: 15px 35px 20px 20px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;

    }
    a:hover {
        // color: var(--p2);
        background: var(--b2);
    }
    .quoteCard-content {
        display: inline-block;
        font-size: 3.2rem;
        font-weight: 600;
        margin: 0;
        overflow-wrap: break-word;
        //word-break: break-all;
        hyphens:auto;
        -webkit-hyphens:auto;
        -moz-hyphens:auto;
        -ms-hyphens:auto;
        -webkit-hyphens:auto;
}
    .quoteCard-author {
        font-size: 1.5rem;
        font-weight: 300;
        align-self: flex-end;
        transform: translate(10px);
        -webkit-transform: translate(10px);
        -moz-transform: translate(10px);
        -ms-transform: translate(10px);
        -o-transform: translate(10px);
    }
    
    .quoteCard-updated_at {
        display: none;
    }
}

.userCard {
    a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--w2);
        margin: 10px -20px;
        padding: 15px 35px 20px 20px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;

    }
    a:hover {
        background: var(--b2);
    }

    .userCard-name {
        font-size: 2rem;
    }
    .userCard-role {
        color: var(--p1);
        font-size: 1rem;
    }
    .userCard-email {
        font-size: 1.3rem;
    }
}


main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    a {
        margin: 5px;
        padding: 5px;
    }
     
    label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.5rem;
        margin-bottom: 15px;

        .invalid-feedback {
            font-size: 0.8rem;
            color: var(--r0);
            margin-bottom: 10px;
        }
    }

    select {
        cursor: pointer;
    }

    input, select, button, textarea {
        background: var(--b0);
        box-sizing: border-box;
        min-width: 400px;
        border: 0;
        margin: 5px 0;
        padding: 15px 15px;
        font-size: 1.5rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    input, select, select option, button, textarea {
        color: var(--w2);
        font-weight: 200;
    }

    input[type="submit"], button {
        margin: 15px 0;
        cursor: pointer !important;
    }

    &#delete-quote {
        margin: -100px 0 100px 0;

        input {
            background: none;
            color: var(--r0);
        }
    }

    &#options {
        flex-direction: row;
        align-items: flex-start;
        margin: 0; 
        label {
            font-size: 1rem;
        }
        select {
            min-width: auto;
            font-size: 1rem;
            padding: 10px 15px;
            margin-right: 10px;
        }
    }
}

#quote {
    position: relative;
    min-height: 80vh;
    padding: 1px 0 50px 0;
    // width: calc( 100vw - 200px);
    #quote-content {
        margin-top: 70px;
        position: relative;
        display: block;
        overflow-wrap: break-word;
        //word-break: break-all;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
    }

    #share {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding: 50px 10px;

        #share-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.3rem;

            kbd {
            font-weight: 600;

                margin-top: 8px;
            }
        }
    }

}

footer {
    padding: 50px 100px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    span {
        font-size: 1rem;
    }
}