html[data-theme="dark"]:root {
    --w1: #fafafa;
    --w2: #e2e2e2;
    --w3: #bbbbbb;

    --b0: #0c0c0f;
    --b1: #16161a;
    --b2: #272727;
    --b3: #1b1b1b;

    --p1: #7426bd;
    --p2: #9d4ce9;

    --r0: #b81f1f;
    
    --warn: rgb(210, 105, 30);
    --success: rgb(31 120 39);
    --error: rgb(184, 31, 31);
    --info: rgb(60, 60, 180);
}
html[data-theme="light"]:root {
    --b0: #fff;
    --b1: #f5f5f5;
    --b2: #ececec;
    --b3: #bbbbbb;

    --w1: #0c0c0f;
    --w2: #272727;
    --w3: #616161;
    
    --p1: #a560e6;
    --p2: #7e11e4;

    --r0: #e65454;

    --warn: rgb(239 114 25);
    --success: rgb(88, 155, 57);
    --error: rgb(230, 84, 84);
    --info: rgb(78 78 233);
}

body {
    padding: 0;
    margin: 0;
    background: var(--b1);
    color: var(--w2);
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

kbd {
    background: var(--b0);
    color: var(--p2);
    padding: 10px 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.select-all {
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

a { 
    display: inline-block;
    text-decoration: none;
    color: var(--p1);

    &.btn, &#changeLang {
        position: relative;
        text-align: center;
        display: block;
        margin: 10px 10px 0 10px;
        padding: 10px 15px;
        background: var(--b2);
        color: var(--p2);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    &.btn-margin {
        margin-top: 30px;
    }
}
a:hover {
    color: var(--p2)
}

#app > header {
    display: block;
    width: 100vw;
    top: 0;
    position: sticky;
    z-index:1000;
    background: linear-gradient(180deg, var(--b1), #00000000);
    nav {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.1rem;
    }


    a { 
        position: relative;
        padding: 20px 10px;
        color: var(--w3);
        
        svg {display: none;}

        &:first-of-type {
            margin-left: 10px;
        }
        &:hover {
            color: var(--w1)
        }
    }

    #themeToggler, #user  {
        // position: absolute;
        // top: 10px;
        // right: 10px;
        justify-self: flex-end;
        display: inline-block;
        border:none;
        background:none;
        color: var(--w3);
        cursor: pointer;
        padding: 10px 10px;
        margin: 0 10px 0 0;
        outline:none;
        svg {
            display: inline;
            // vertical-align: middle;
            vertical-align: baseline;
            margin: auto
        }
    } 
    #user {
        // margin: 0 0 0 15px;
        margin: 0 5px 0 auto;
    }

    #searchForm {
        order: 20;
        position: relative;
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
        input, button {
            position: relative;
            color: var(--w3);
            background: var(--b0);
            box-sizing: border-box;
            padding: 10px 15px;
            border: 0;
            border-radius: 10px;
            -webkit-border-radius: 10px 0 0 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
        input {
            max-width: 80%;
            width:auto !important;
            font-weight: 200;
            font-size: 1rem;
        }
        button[type="submit"] {
            display: inline-block;
            cursor: pointer !important;
            -webkit-border-radius: 0 10px 10px 0;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            svg {
                vertical-align: middle;
                margin: auto
            }
        }
    }
}

.fade {
    opacity: 0;
}

.alert-container {
    position: relative;
    display: block;
    text-align: center;

    .alert {
        display: inline-block;
        margin: 25px auto 15px auto;
        padding: 15px 20px;
        font-size: 0.9rem;
        color: var(--b0);
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;


        &.alert-warn {
            background:var(--warn);
        }
        &.alert-success {
            background: var(--success);
        }
        &.alert-error {
            background: var(--error);
        }
        &.alert-info {
            background: var(--info);
        }
    }
}


h1, h2 {
    position: relative;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-rendering: geometricPrecision;

    &.hero-min {
        margin-block-start: 2em;
    }
}

h2 {
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
    font-size: 3rem;
    font-weight: 100;

    &.subtitle {
        font-size: 3rem;
        margin-block-end: 2em;
    }
}
p {
    font-size: 1.5rem;
    margin:5px 0 0 10px;
}

main {
    &.morePadding {
        padding-top: 200px;
    }
    min-height: 90vh;
    margin: 0 10px;

    article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 100px;
        header h3 {
            color: var(--w3);
            font-size: 1.1rem;
            font-weight: 200;
            margin: 0 0 0 10px;
            // margin:0;
        }

        p {
            margin-bottom: 10px;
        }

        &#all-quotes {
            padding-top: 60px;
        }
        &#join {
            align-items: center;
            // margin-top: 50px;
            // margin-bottom: 200px;
            h3 {
                margin: 0;
            }
        }
        & .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .actions-btn {
                color: #e2e2e2;
                // color: var(--p1);
                background: var(--p1);
                box-sizing: border-box;
                font-size: 1.4rem;
                padding: 10px 15px;
                margin:15px 15px 0 15px;
                // border: 0;
                border: 1px solid var(--p1);
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;

                &:hover {
                    color: var(--w3);
                    background: var(--p2);
                }
            }
            .actions-btn:nth-child(2) {
                color: var(--w3);
                background: none;
                border: 0;
                &:hover {
                    color: var(--p2);
                }
            }
        }
    }
}

.quoteCard {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    width: auto;
    a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--w2);
        margin: 10px 0px;
        padding: 15px 35px 20px 20px;
    }
    .quoteCard-content {
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
        overflow-wrap: break-word;
        //word-break: break-all;
        hyphens:auto;
        -webkit-hyphens:auto;
        -moz-hyphens:auto;
        -ms-hyphens:auto;
        -webkit-hyphens:auto;
    }
    .quoteCard-author {
        font-size: 1.3rem;
        font-weight: 200;
        align-self: flex-end;
        padding-top: 10px;
        transform: translate(10px);
        -webkit-transform: translate(10px);
        -moz-transform: translate(10px);
        -ms-transform: translate(10px);
        -o-transform: translate(10px);
}
    .quoteCard-updated_at {
        display: none;
    }
}


.userCard {
    a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--w2);
        margin: 10px 0px;
        padding: 15px 35px 20px 20px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;

    }
    a:hover {
        background: var(--b2);
    }

    .userCard-name {
        font-size: 2rem;
    }
    .userCard-role {
        color: var(--p1);
        font-size: 1rem;
    }
    .userCard-email {
        font-size: 1.3rem;
    }
}

main form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 100px 0;

    a {
        margin: 5px;
        padding: 5px;
    }

    label {
        width: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        margin-bottom: 15px;

        .invalid-feedback {
            font-size: 0.8rem;
            color: var(--r0);
            margin-bottom: 10px;
        }
    }

    input, select, button, textarea {
        position: relative;
        background: var(--b0);
        box-sizing: border-box;
        width: 100%;
        border: 0;
        margin: 5px 0;
        padding: 15px 15px;
        font-size: 1.3rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    button {
        width: 90%;
    }

    input, select, select option, button, textarea {
        color: var(--w2);
        font-weight: 200;
    }

    input[type="submit"], button {
        margin: 15px 0;
        cursor: pointer !important;
    }

    &#delete-quote {
        margin: -100px 0 100px 0;

        input {
            background: none;
            color: var(--r0);
        }
    }

    &#options {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0; 
        label {
            font-size: 1rem;
        }
        select {
            min-width: auto;
            font-size: 1rem;
            padding: 10px 15px;
            margin-right: 10px;
        }
    }

    &#roleForm {
        width: 100%;

        input[type="submit"] {
            width: 90%;
        }
    }
}

#quote {
    min-height: 80vh;
    padding: 1px 0px 50px 0;
    margin: 0 20px;
    // width: calc( 100vw - 200px);
    #quote-content {
        margin-top: 50px;
        font-weight: 400;
        position: relative;
        display: block;
        overflow-wrap: break-word;
        //word-break: break-all;
        hyphens:auto;
        -webkit-hyphens:auto;
        -moz-hyphens:auto;
        -ms-hyphens:auto;
        -webkit-hyphens:auto;
    }

    #share {
        display: flex;
        flex-direction: column;
        text-align: right;
        padding: 50px 0;

        #share-box {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.3rem;

            kbd {
                font-weight: 600;   
                font-size: 1.1rem;
                margin-top: 8px;
            }
        }
    }
}

footer {
    padding: 50px 20px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    span {
        font-size: 1rem;
    }
}