html[data-theme="dark"]:root {
    --w1: #fafafa;
    --w2: #e2e2e2;
    --w3: #bbbbbb;

    --b0: #0c0c0f;
    --b1: #16161a;
    --b2: #272727;
    --b3: #1b1b1b;

    --p1: #5b1999;
    --p2: #782dbe;

    --r0: #b81f1f;
}
html[data-theme="light"]:root {
    --b0: #fff;
    --b1: #f5f5f5;
    --b2: #ececec;
    --b3: #bbbbbb;

    --w1: #0c0c0f;
    --w2: #272727;
    --w3: #616161;
    
    --p1: #a560e6;
    --p2: #7e11e4;

    --r0: #e65454;

}

body {
    padding: 0;
    margin: 0;
    background: var(--b1);
    color: var(--w2);
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a { 
    display: inline-block;
    text-decoration: none;
    color: var(--p1);
}
a:hover {
    color: var(--p2)
}

#app > header {
    display: block;
    width: 100vw;
    nav {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.1rem;
    }


    a { 
        position: relative;
        padding: 20px 10px;
        color: var(--w3);
        
        svg {display: none;}

        &:first-of-type {
            margin-left: 10px;
        }
        &:hover {
            color: var(--w1)
        }
    }
    

    #themeToggler {
        position: absolute;
        top: 10px;
        right: 10px;
        border:none;
        background:none;
        color: var(--w3);
        cursor: pointer;
        padding: 10px 15px;
        margin: 0 0 0 5px;
        outline:none;

        svg {
            vertical-align: middle;
            margin: auto
        }
    }

    #searchForm {
        position: relative;
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
        input, button {
            position: relative;
            color: var(--w3);
            background: var(--b0);
            box-sizing: border-box;
            padding: 10px 15px;
            border: 0;
            border-radius: 10px;
            -webkit-border-radius: 10px 0 0 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
        input {
            max-width: 80%;
            width:auto !important;
            font-weight: 200;
            font-size: 1rem;
        }
        button[type="submit"] {
            display: inline-block;
            cursor: pointer !important;
            -webkit-border-radius: 0 10px 10px 0;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            svg {
                vertical-align: middle;
                margin: auto
            }
        }
    }
}

h1, h2 {
    position: relative;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-rendering: geometricPrecision;
}

h2 {
    margin-block-start: 0.4em;
    margin-block-end: 0.5em;
    font-size: 5rem;
    font-weight: 100;
}

main {
    &.morePadding {
        padding-top: 200px;
    }
    min-height: 90vh;
    margin: 0 10px;

    article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 150px;
        header h3 {
            color: var(--w3);
            font-size: 1.1rem;
            font-weight: 200;
            margin: 0 0 0 10px;
            // margin:0;
        }

        &#all-quotes {
            padding-top: 60px;
        }

    }
}

.quoteCard {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    width: auto;
    a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--w2);
        margin: 10px 0px;
        padding: 15px 35px 20px 20px;
    }
    .quoteCard-content {
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
    }
    .quoteCard-author {
        font-size: 1.3rem;
        font-weight: 200;
        align-self: flex-end;
        padding-top: 10px;
        transform: translate(10px);
        -webkit-transform: translate(10px);
        -moz-transform: translate(10px);
        -ms-transform: translate(10px);
        -o-transform: translate(10px);
}
    .quoteCard-updated_at {
        display: none;
    }
}

main form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 100px 0;

    label {
        width: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    input, select {
        position: relative;
        background: var(--b0);
        box-sizing: border-box;
        width: 100%;
        border: 0;
        margin: 5px 0;
        padding: 15px 15px;
        font-size: 1.3rem;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    input, select, select option {
        color: var(--w2);
        font-weight: 200;
    }

    input[type="submit"] {
        cursor: pointer !important;
    }

    &#delete-quote {
        margin: -100px 0 100px 0;

        input {
            background: none;
            color: var(--r0);
        }
    }
}

#quote {
    min-height: 80vh;
    padding: 50px 0px;
    margin: 0 20px;
    // width: calc( 100vw - 200px);
    #quote-content {
        font-weight: 400;
        position: relative;
        display: block;
    }

    #toEdit {
        display: none;
    }
}

footer {
    padding: 50px 20px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    span {
        font-size: 1rem;
    }
}